<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Admin</title>
  <link rel="stylesheet" href="style_dashboard.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2>Dashboard</h2>
      <nav>
        <ul>
          <li><a href="daftar_siswa.html"><i class="fas fa-users"></i> Daftar Siswa</a></li>
          <li><a href="#"><i class="fas fa-money-bill-wave"></i> Input Pencairan</a></li>
          <li><a href="#"><i class="fas fa-check-circle"></i> Konfirmasi & Ctat Blockchain</a></li>
          <li><a href="#"><i class="fas fa-history"></i> Riwayat Pencairan</a></li>
          <li><a href="#"><i class="fas fa-globe"></i> Transparansi Umum</a></li>
        </ul>
      </nav>
      <div class="logout">
        <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </aside>

    <main class="main-content">
      <header class="topbar">
        <h3>Admin Sekolah</h3>
      </header>
      <div class="content-box"></div>
    </main>
  </div>
</body>
</html>
